#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Select Country : </h1>
<select id="country">

    <option value="">Select Country</option>
    <option value="usd">US Dollar</option>
    <option value="jpy">Japanese Yen</option>
    <option value="gbp">Pound Sterling</option>
    <option value="nok">Norweigan Krone</option>
</select>

<h1>Exchange Rates</h1>
<div id="graph"/>

#{set 'moreScripts'}
<script>
    $(document).ready(function () {

        $('#country').change(function () {
            var route = #{jsRoute @Application.indexAsJson(':country') /};
            console.log('Route : ' + route.url() + ", Param : " + $('#country').val());
            $.ajax({
                url: route.url({country: $('#country').val()}),
                type: route.method,
                success: function (report) {
                    $('#graph').html('');
                    d3Graph.getInstance().render(report);
                },
                fail: function (error) {
                    console.log('Failed to retrieve rates for ' + $('#country').val())
                }
            });
        });

    });
</script>
#{/set}
